@import "_iconfont.scss";

$f: #fff;
$p1: #5a5a5a;
$green0: #00ab51;
$green: #00c55d;
$green1: #bff0d6;
$green2: #e5f9ee;
$gray: #8a8a8a;
$gray1: #ebebeb;
$title: #464646;
$content: #5a5a5a;
$red: #fd6363;
$blue: #4290ec;
$midFont: 14px;
$bigFont: 16px;

* {
  margin: 0;
  padding: 0;
}
li {
  list-style: -moz-ethiopic-numeric;
}

.color46 {
  color: $title;
}

body {
  font-family: "PingFangSC-Regular,PingFang SC";
}

.size14 {
  font-size: 14px;
}
.size16 {
  font-size: 16px;
}
.size18 {
  font-size: 18px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ml10 {
  margin-left: 10px;
}
mr10 {
  margin-right: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.mg10 {
  margin: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pd10 {
  padding: 10px;
}
.ml10 {
  margin-left: 10px;
}
mr20 {
  margin-right: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.mg20 {
  margin: 20px;
}
.pl20 {
  padding-left: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.pd20 {
  padding: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
}
.mid-btn {
  width: 80px;
  height: 32px;
}
.min-btn {
  width: 72px;
  height: 28px;
}

.green-btn {
  color: $green;
  cursor: pointer;
  &:hover {
    color: #fff;
    background: $green;
  }
  &:active {
    background: #00ab51;
  }
}
.blue-btn {
  color: #40a9ff;
  cursor: pointer;
  &:hover {
    color: #fff;
    background: #40a9ff;
  }
  &:active {
    background: #2d90e0;
  }
}
.red-btn {
  color: #ff6166;
  cursor: pointer;
  &:hover {
    color: #fff;
    background: #ff6166;
  }
  &:active {
    background: #e04a4f;
  }
}

.dis-btn{
  color: #AAAAAA;
  cursor: not-allowed;
  &:hover {
    color: #AAAAAA;
    background: none;
  }
  &:active {
    background: none;
  }
}


.dian {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dian2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.scroll-bar {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    width: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6);
  }
}
